

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0 0 15px 0;
    background-color: white;
}

/* div *{
    border: 1px solid red;
} */

#main_title{
    width:50%;
    font-family: sans-serif;
}

.title{
    display: flex;
    height: 30px;
    align-items: center;
    position:relative;
}

p.text{
    left: 10px;
    position: absolute;
}

p.date{
    right:10px;
    position: absolute;
}

.image{
    position: relative;
    overflow: hidden;
    border-top: 0.5px solid lightgrey;
    border-bottom: 0.5px solid lightgrey;
}

.caption{
    margin: 0;
    padding: 10px;
    font-size: small;
    font-family: Arial;
}

.post{
    width: 50%;
    position: relative;
    margin: 15px 0px 15px 0px;
    border: 0.5px solid white;
    border-radius: 3px;
    background-color: white;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
}
